huggingface_hub==0.22.2
python-dotenv
langchain
langchain-openai
langchain-community
langchain-text-splitters
chromadb
gradio
openai
uvicorn
pydantic
google-generativeai==0.4.1
langchain-google-genai
protobuf>=6.30.0,<7.0dev

